appnope 
asttokens 
backcall 
backports.functools-lru-cache 
certifi
charset-normalizer
contourpy
cycler
debugpy 
decorator 
executing 
filelock
fonttools
fsspec
idna
importlib-metadata 
ipykernel 
ipython 
jedi 
Jinja2
jupyter_client 
jupyter_core 
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline 
mpmath
nest-asyncio 
networkx
numpy
opencv-python
packaging 
parso 
pexpect 
pickleshare 
Pillow
platformdirs 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
Pygments 
pyparsing
python-dateutil 
pyzmq 
requests
scipy
six 
stack-data 
sympy
torch
torchaudio
torchvision
tornado 
traitlets 
typing_extensions 
urllib3
wcwidth 
zipp 
